<!doctype html>
<html class="no-js" lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title data-t="pages.index">{$title|default='余呗支付 聚合支付系统'} | 支付宝 微信支付 分期 Apple Pay</title>
    <meta name="description" content="聚合支付云 SDK 让你在 app 和网站中轻松加入支付功能。一次申请开通多个支付渠道，一次接入所有平台和支付方式，一站管理所有交易。"  content-t="descriptions.index"/>
    <meta name="keywords" content="支付SDK,支付开发,支付接入,聚合支付,支付,app支付,移动应用支付,支付平台,在线支付,游戏支付,网上支付,网络支付,统一支付平台,手机支付平台,手机支付,手机网上支付,快捷支付,一键支付,电子支付,安全支付,第三方支付接口,支付宝支付,支付宝接口,移动支付,在线支付,第三方支付,支付平台,银联支付,银联在线支付,银联快捷支付,银行支付,网银支付平台,网银支付,pos支付,app支付,支付接口,支付API,支付宝接口,微信支付接口,银联支付接口,支付云服务,微信红包,红包SDK,微信支付,支付宝支付"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__CSS__/font-6c8ed7009c.css?v=__VERSION__">
    <link rel="stylesheet" href="__CSS__/app-35a46256a4.css?v=__VERSION__">
    <link rel="apple-touch-icon" href="__STATIC__/touch_icon.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="{$theme|default='theme-products'}">
<div class="top-bar-wrapper">
    <div class="row align-center">
        <div class="title-bar show-for-small-only">
             <!--<button id="hamburger" class="menu-icon" type="button" data-toggle></button> -->
            <div class="title-bar-title">
                <a href="/" title="">
                    <div class="top-bar__logo"></div>
                </a>
            </div>
            <a id="hamburger" class="title-bar__toggle" target="_blank" data-toggle>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="small-11 medium-10 large-10 hide-for-small-only">
            <div class="top-bar">
                <div class="top-bar-title">
                    <a href="/"><div class="top-bar__logo"></div></a>
                </div>
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="is-dropdown-submenu-parent">
                            <a href="/">支付方式</a>
                            <ul class="menu vertical">
                                <li><a href="/wapPay"><img src="__SVG__/aggregate-pay.svg" alt="">手机Wap支付</a></li>
                                <li><a href="/webPay" ><img src="__SVG__/account-system.svg" alt="">电脑Web支付</a></li>
                                <li><a href="/scanPay" ><img src="__SVG__/merchants-system.svg" alt="">扫码支付</a></li>
                            </ul>
                        </li>

                        <li class="is-dropdown-submenu-parent">
                            <a href="" >支付聚道</a>
                            <ul class="menu vertical">
                                <li><a href="" >微信支付</a></li>
                                <li><a href="" >支付宝支付</a></li>
                                <li><a href="" >QQ支付</a></li>
                                <li><a href="" >银联支付</a></li>
                            </ul>
                        </li>
                        <!--<li><a href="/customers">案例</a></li>-->
                        <li><a href="/pricing">定价</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <!--<li><a href="/support/help" target="_blank">帮助中心</a></li>-->
                        <li class="is-dropdown-submenu-parent">
                            <a href="/support/index">开发者中心</a>
                            <ul class="menu vertical">
                                <li><a href="/support/overview" >开发指南</a></li>
                                <li><a href="/support/downloads">SDK 下载</a></li>
                                <li class="divider"><a href=""target="_blank">开发者社区</a></li>
                            </ul>
                        </li>
                        {if !empty($userInfo) }
                        <li><a href="/user" class="button cta hollow small">{$userInfo.mchname}</a></li>
                        {else /}
                        <li><a href="/login">登录</a></li>
                        <li><a href="/register" class="button cta hollow small">注册</a></li>
                        {/if}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mobile-nav show-for-small-only" id="sidebar-menu">
    <ul>
        <li>
            <dl>
                <dt><a>产品</a></dt>
                <dd><a href="/wapPay">-手机Wap支付</a></dd>
                <dd><a href="/webPay">-电脑Web支付</a></dd>
                <dd><a href="/scanPay">-扫码支付</a></dd>
            </dl>
        </li>
        <li><a href="/customers" data-t="top-nav.testimonial">案例</a></li>
        <li class="divider"><a href="/pricing">定价</a></li>
        <li><a href="/support/help" target="_blank" >帮助中心</a></li>
        <li class="divider"><a href="/support/index">开发者中心</a></li>
        {empty name="userInfo" }
        <li><a href="/login">登入</a></li>
        <li class="divider"><a href="/register">注册</a></li>
        {else /}
        <li><a href="/user" class="button cta hollow small">{$userInfo.mchname}</a></li>
        <li><a href="/logout">退出</a></li>
        {/empty}
    </ul>
</div>
<div class="ui-mask"></div>