<section class="pricing-section pricing-section__faq">
    <div class="row align-center">
        <div class="medium-8 column">
            <h2>常见问题解答</h2>
            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">如何申请渠道？</a>
                    <div class="accordion-content" data-tab-content>
                        <p> 提供聚合 SDK 接口，接入的时候需要您有相应支付渠道的商户平台及支付权限，您需要自己申请渠道。</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title" data-t="financing.faq.steps">申请支付渠道需要什么资质？</a>
                    <div class="accordion-content" data-tab-content>
                        <p>
                            企业向渠道申请支付权限时需要提供相关资质进行认证。申请支付渠道的公司需为大陆注册公司，且五证齐全。五证分别为：营业执照、税务登记证、组织机构代码证、开户许可证、法人身份证。若为三证合一的公司，则只需提供营业执照、开户许可证、法人身份证。</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title" data-t="financing.faq.industries">结算周期是怎样的？</a>
                    <div class="accordion-content" data-tab-content>
                        <p>
                            平台只负责交易的处理，不参与资金结算，所有的资金都是由支付平台扣除相应的交易手续费后，按照固定的结算周期直接结算到商户的对应渠道账户。资金由支付渠道结算给商户，结算账户为支付渠道申请入网时提供的企业账户。</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title" data-t="financing.faq.refund">渠道费率怎么算？</a>
                    <div class="accordion-content" data-tab-content>
                        <p>各渠道接入费及费率由渠道直接收取，在资金结算时自动扣取，具体收费标准以渠道标准为准。</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title" data-t="financing.faq.fees">如何接入 ？</a>
                    <div class="accordion-content" data-tab-content>
                        <p> 提供聚合 SDK 的接入，您可通过接入  一次性接入支付宝、微信、银联、百度钱包、京东支付、易宝支付、Apple
                            Pay、分期支付等主流支付方式。但接入过程中仍需要向对应渠道方申请支付权限。</p>
                    </div>
                </li>
            </ul>
            <p class="link"><a href="/support/help">去帮助中心查看更多 →</a></p>
        </div>
    </div>
</section>