<footer>
    <ul class="row">
        <li class="large-2 medium-2 small-6 columns">
            <dl>
                <dt>产品</dt>
                <dd><a href="/wapPay">手机Wap支付</a></dd>
                <dd><a href="/webPay">电脑Web支付</a></dd>
                <dd><a href="/scanPay">扫码支付</a></dd>
                <!--<dd><a href="/appPay">手机App支付</a></dd>-->
            </dl>
        </li>
        <li class="large-2 medium-2 small-6 columns">
            <dl>
                <dt>开发者</dt>
                <dd><a href="/support/index">开发者中心</a></dd>
                <dd><a href="/support/overview">开发指南</a></dd>
                <dd><a href="/support/downloads">SDK 下载</a></dd>
                <dd><a href="">开发者社区</a></dd>
            </dl>
        </li>
        <li class="large-2 medium-2 small-6 columns">
            <dl>
                <dt>帮助</dt>
                <dd><a href="/support/help">帮助中心</a></dd>
            </dl>
        </li>
        <li class="large-3 medium-3 small-6 columns">
            <dl>
                <dt>公司</dt>
                <dd><a href="/about">关于我们</a></dd>
                <dd><a href="/contact">联系我们</a></dd>
                <dd><a rel="nofollow" href="">招聘</a></dd>
                <dd><a href="/terms">条款</a></dd>
                <dd><a href="">合作</a></dd>
            </dl>
        </li>
        <li class="large-3 medium-3 small-12 columns">
            <dl>
                <dt>业务咨询专线</dt>
                <dd class="phone">TEL:18078687485</dd>
                <dd class="phone">QQ:702154416</dd>
                <dd class="time">09:00 - 19:00（工作日）</dd>
                <dd class="weixin">
                    <a href="javascript:;"><img class="we-ico" src="__IMG__/wechat.png"></a>
                    <img class="we-qr" src="__STATIC__/qr-pub.jpg" alt="">
                </dd>
            </dl>
        </li>
    </ul>
    <div class="beian row">
        <p class="large-6 medium-6 small-12 columns">&copy; 广西润轩商务信息咨询有限公司 </p>
        <p class="large-6 medium-6 small-12 columns">桂 ICP 备
            <a rel="nofollow" href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank">14045638 号 - 1</a></span>
        </p>
    </div>
</footer>
<script src="__JS__/app-b3a0ade210.js?v=__VERSION__"></script>
<script src="__JS__/copyright.js?v=__VERSION__"></script>
</body>
</html>

