<div class="row align-center dev-links-outer">
    <div class="small-11 large-8 medium-8">
        <h2>开发者链接</h2>
        <div class="row">
            <div class="small-11 large-3 medium-3 dev-links">
                <a href="/support/overview">聚合支付开发指南 →</a>
            </div>
            <div class="small-11 large-3 medium-3 dev-links">
                <a href="/support/downloads">SDK 下载 →</a>
            </div>
            <div class="small-11 large-3 medium-3 dev-links">
                <a href="">开发者社区 →</a>
            </div>
        </div>
    </div>
</div>
<section class="bottom-cta bottom-cta--blue">
    <div class="row align-center">
        <div class="small-12 medium-8 large-7 columns">
            <h3>让支付简单<span class="punctuation">、</span>方便和温暖</h3>
            <p><a href="/register" class="button register cta">免费注册</a></p>
            <p class="bottom-cta--bottom"><a href="/contact">或者咨询客服</a></p>
        </div>
    </div>
</section>