<div class="nav block-grid">
    <div class="row-d">
        <div class="medium-12 columns">
            <ul class="nav block-grid">
                <li>
                    <a class="block-grid-link" href="" target="_blank">
                        <div class="nav-block-grid__icon">
                            <img src="__SVG__/docs-cloud.svg" alt=""/>
                        </div>
                        <h5 data-t="docs.bottom.api.title">开发者社区</h5>
                        <span class="description"
                              data-t="docs.bottom.api.description">参与支付开发交流。</span>
                        <span class="anchor">加入开发者社区</span>
                    </a>
                </li>
                <li>
                    <a class="block-grid-link" href="/support/downloads">
                        <div class="nav-block-grid__icon">
                            <img src="__SVG__/docs-downloads.svg" alt=""/>
                        </div>
                        <h5>资源下载</h5>
                        <span class="description">下载 SDK、样例代码和项目。</span>
                        <span class="anchor">下载 SDK</span>
                    </a></li>
                <li>
                    <a class="block-grid-link" href="" target="_blank">
                        <div class="nav-block-grid__icon">
                            <img src="__SVG__/docs-help.svg" alt=""/>
                        </div>
                        <h5>帮助中心</h5>
                        <span class="description">开发中遇到障碍？你可以在帮助中心搜索答案。</span>
                        <span class="anchor">去帮助中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>