{include file="header"/}
<section class="hero fullscreen hero-docs" style="background-color: #000;">
    <div class="row-d align-center">
        <div class="small-12 medium-12 columns">
            <div class="hero-copy">
                <div class="row align-middle">
                    <div class="small-12 medium-5 columns">
                    <span class="text-mask">
                    <ul id="carousel-first" class="hero-title-carousel text-mask-hidden-left text-animate cubic-easeinout--fast text-mask-reveal">

                      <li class="cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.fast">快速。</h1>
                      </li>

                      <li class="hero-title-carousel-reveal cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.easy">简单。</h1>
                      </li>

                      <li class="hero-title-carousel-reveal cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.efficient">有效。</h1>
                      </li>

                      <li class="hero-title-carousel-reveal cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.secure">安全。</h1>
                      </li>

                      <li class="hero-title-carousel-reveal cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.futureproof">未来。</h1>
                      </li>

                      <li class="hero-title-carousel-reveal cubic-easeinout--fast">
                          <h1 data-t="devcenter.hero.fast">快速。</h1>
                      </li>

                    </ul>
                    </span>
                    </div>
                    <div class="small-12 medium-6 large-5 columns">
                        <h4>一次接入支付 <a href="/support/downloads">SDK</a>，<wbr>一步让你的 app <wbr>同时支持银行卡、支付宝、<wbr>微信<a href="/support/server/charge" >等支付方式</a>，<wbr>以及未来的所有可能。</h4>
                    </div>
                </div>
            </div>
            <p class="buttons"><a href="/support/overview" class="button invert large" >阅读开发指南</a> <a class="button invert secondary large" href="/support/downloads" >下载 SDK</a></p>
        </div>
    </div>
    <div class="hero-bg hero-bg--cube">
        <div class="cube start">
            <div class="inner">
                <div class="side side--1"></div>
                <div class="side side--2"></div>
                <div class="side side--3"></div>
                <div class="side side--4"></div>
                <div class="side side--5"></div>
                <div class="side side--6"></div>
            </div>
        </div>
    </div>
</section>
{include file="support::foot"/}
{include file="footer"/}