{include file="header"/}
<section class="hero hero-about" id="hero">
    <div class="row align-center">
        <div class="small-10 medium-10 large-9 columns">
            <div class="hero-copy">
                <h1>我们让支付变得<br class="hide-for-small-only">简单<span class="punctuation">，</span>方便<span class="punctuation">，</span>和温情<span class="punctuation">。</span></h1>
            </div>
        </div>
    </div>
    <div class="hero-bg aboutus">
        <div class="row align-right">
            <div class="medium-5 columns fullheight-column-align">
                <div class="illustration-pinger-wrap"> </div>
            </div>
        </div>
    </div>
</section>

<div class="row align-center ld-content--about">
    <div class="small-11 medium-10 large-9 columns">
        <section class="" id="about">
            <div class="row">
                <div class="column">
                    <h5 class="overview">我们在做什么</h5>
                </div>
            </div>
            <div class="row align-center">
                <div class="columns medium-6 small-12">
                    <div class="title">
                        <h2>为这个世界提供了一种全新的支付服务</h2>
                        <h5>任何你可以想象或者不能想象的场景下，我们都让支付变得更加简单，方便，和温暖。</h5>
                        <p class="show-for-small-only"><img src="__IMG__/picture/building.jpg" alt=""></p>
                    </div>
                </div>
                <div class="columns medium-6 small-12">
                    <div class="content">
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                        <p>抱歉，我真的想不到什么来介绍~</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="team">
          <div class="row align-center">
            <div class="columns small-11 medium-12">
              <h5 class="overview">我们是这样一群人</h5>
              <h2 id="team-copy"> 未来的样子<span class="punctuation">，</span><br>就是此刻创造未来的<span class="punctuation">，</span><br>你的样子<span class="punctuation">。</span></h2>
            </div>
          </div>
        </section>
    </div>
</div>
{include file="footer"/}