
{include file="header"/}
<section class="text-center price-title">
    <h1>定价</h1>
    <p>选择一款适合自己企业的方案</p>
</section>
<section class="row align-center">
    <div class="large-10 medium-10 small-12">
        <section class="pricing-plan row">
            <div id="common" class="pricing-plan-item small-12 columns">
                <h4 class="text-center hide-for-small-only">通用模块</h4>
                <div class="title show-for-small-only">
                    <a href="#common" class="active">通用模块</a>
                    <a href="#senior">高级模块</a>
                </div>
                <div class="pricing-plan-module">
                    <div class="pricing-plan-feature">
                        <div class="small-6 medium-6 large-3 columns">
                            <div class="feature-item">
                                <h5>支付渠道模块</h5>
                                <p>收款渠道</p>
                                <p>付款渠道</p>
                            </div>
                        </div>
                        <div class="small-6 medium-6 large-3 columns">
                            <div class="feature-item">
                                <h5>订单模块</h5>
                                <p>订单创建</p>
                                <p>订单支付</p>
                                <p>订单退款</p>
                            </div>
                        </div>
                        <div class="small-6 medium-6 large-3 columns">
                            <div class="feature-item">
                                <h5>账务模块</h5>
                                <p>账户明细</p>
                                <p>渠道账户明细</p>
                                <p>财务对账</p>
                            </div>
                        </div>
                        <div class="small-6 medium-6 large-3 columns">
                            <div class="feature-item">
                                <h5>辅助模块</h5>
                                <p>身份认证</p>
                                <p>海关自助报关</p>
                            </div>
                        </div>
                    </div>
                    <ul class="pricing-plan-list">
                        <li>
                            <div class="small-12 medium-6 large-6">
                                <h4>试用版</h4>
                                <p class="pricing-plan-price">￥0 / 永久</p>
                                <a href="https://dashboard.pingxx.com/register" target="_blank"
                                   class="button cta hollow">开始使用</a>
                            </div>
                            <div class="small-12 medium-6 large-6">
                                <p>接口调用 500 次/月</p>
                                <p>接口并发 2 次/秒</p>
                            </div>
                        </li>
                        <li>
                            <div class="small-12 medium-6 large-6">
                                <h4>标准版</h4>
                                <p class="pricing-plan-price">￥9,999 / 年</p>
                                <a href="https://dashboard.pingxx.com/register" target="_blank"
                                   class="button cta hollow">开始使用</a>
                            </div>
                            <div class="small-12 medium-6 large-6">
                                <p>接口调用 100,000 次／月</p>
                                <p>接口并发 100 次／秒</p>
                                <p>同时管理 10 个 App</p>
                                <p>多用户权限管理</p>
                                <p>5 * 10 技术支持</p>
                            </div>
                        </li>
                        <li>
                            <div class="small-12 medium-6 large-6">
                                <h4>专业版</h4>
                                <p class="pricing-plan-price">￥19,999 / 年</p>
                                <a href="/contact" target="_blank" class="button cta hollow">开始使用</a>
                            </div>
                            <div class="small-12 medium-6 large-6">
                                <p>接口调用 500,000 次／月</p>
                                <p>接口并发 200 次／秒</p>
                                <p>同时管理 10 个 App</p>
                                <p>交易自助对账</p>
                                <p>移动版管理平台</p>
                                <p>自定义报表</p>
                                <p>多用户权限管理</p>
                                <p>7 * 10 技术支持</p>
                            </div>
                            <span class="most-popular">最受欢迎</span>
                        </li>
                        <li>
                            <div class="small-12 medium-6 large-6">
                                <h4>定制版</h4>
                                <p class="pricing-plan-price">￥99,999+ / 年</p>
                                <a href="/contact" target="_blank" class="button cta hollow">开始使用</a>
                            </div>
                            <div class="small-12 medium-6 large-6">
                                <p>接口调用 2,500,000 次／月</p>
                                <p>接口并发 200 次／秒</p>
                                <p>同时管理 10 个 App</p>
                                <p>支持付费提高用量上限</p>
                                <p>交易自助对账</p>
                                <p>移动版管理平台</p>
                                <p>自定义报表</p>
                                <p>自有系统对接</p>
                                <p>企业品牌定制</p>
                                <p>服务监控</p>
                                <p>多用户权限管理</p>
                                <p>7 * 10 技术支持</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="pricing-section pricing-section__all-plans">
    <div class="row align-center">
        <div class="medium-10 column">
            <div class="row collapse">
                <div class="column medium-2 small-12 title">所有方案均配备</div>
                <div class="column medium-10 small-12">
                    <ul class="content">
                        <li class=""><span class="icon-check"></span><strong>7&times;24 小时系统运维</strong></li>
                        <li class=""><span class="icon-check"></span><strong>聚合支付云 + SDK</strong></li>
                        <li class=""><span class="icon-check"></span><strong>自助支持</strong></li>
                        <li class=""><span class="icon-check"></span><strong>金融级安全防护</strong></li>
                        <li class=""><span class="icon-check"></span><strong>商户管理平台</strong></li>
                        <li class=""><span class="icon-check"></span><strong>工单处理</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row align-center pricing-section">
    <p class="small-10 large-10 medium-10 text-center pricing-section__desc">我们还提供广告版套餐，供您选择。该套餐具备支持支付成功页广告展示，以及免费享有 10
        万次/月的接口调用量。您可以点此<a href="/register" target="_blank" class="cta hollow">开始使用</a></p>
</section>

<section class="pricing-section pricing-section__customer-logos">
    <div class="row align-center">
        <div class="column medium-11 border">
            <ul class="animate">
                <li>
                    <figure class="customer-logo customer-logo-redbook">
                        <img src="__IMG__/picture/logo-redbook@2x.png" class="logo" alt="redbook">
                    </figure>
                    <figure class="customer-logo customer-logo-iliovehome">
                        <img src="__IMG__/picture/logo-ilovehome.png" class="logo" alt="我爱我家">
                    </figure>
                    <figure class="customer-logo customer-logo-vipkid">
                        <img src="__IMG__/picture/logo-vipkid@2x.png" class="logo" alt="vipkid">
                    </figure>
                    <figure class="customer-logo customer-logo-niu">
                        <img src="__IMG__/picture/logo-niu.png" class="logo" alt="小牛">
                    </figure>
                    <figure class="customer-logo customer-logo-fotile">
                        <img src="__IMG__/picture/logo-fotile.png" class="logo" alt="方太">
                    </figure>
                    <figure class="customer-logo customer-logo-dingxiang">
                        <img src="__IMG__/picture/testimonial-logo-dingxiang@2x.png" class="logo" alt="丁香诊所">
                    </figure>
                    <figure class="customer-logo customer-logo-bulefocus">
                        <img src="__IMG__/picture/logo-bluefocus.png" class="logo" alt="bluefocus">
                    </figure>
                    <figure class="customer-logo customer-logo-metersbonwe">
                        <img src="__IMG__/picture/logo-metersbonwe.png" class="logo" alt="美特斯邦威">
                    </figure>
                </li>
                <li>
                    <figure class="customer-logo customer-logo-redbook">
                        <img src="__IMG__/picture/logo-redbook@2x.png" class="logo" alt="redbook">
                    </figure>
                    <figure class="customer-logo customer-logo-iliovehome">
                        <img src="__IMG__/picture/logo-ilovehome.png" class="logo" alt="我爱我家">
                    </figure>
                    <figure class="customer-logo customer-logo-vipkid">
                        <img src="__IMG__/picture/logo-vipkid@2x.png" class="logo" alt="vipkid">
                    </figure>
                    <figure class="customer-logo customer-logo-niu">
                        <img src="__IMG__/picture/logo-niu.png" class="logo" alt="小牛">
                    </figure>
                    <figure class="customer-logo customer-logo-fotile">
                        <img src="__IMG__/picture/logo-fotile.png" class="logo" alt="方太">
                    </figure>
                    <figure class="customer-logo customer-logo-dingxiang">
                        <img src="__IMG__/picture/testimonial-logo-dingxiang@2x.png" class="logo" alt="丁香诊所">
                    </figure>
                    <figure class="customer-logo customer-logo-bulefocus">
                        <img src="__IMG__/picture/logo-bluefocus.png" class="logo" alt="bluefocus">
                    </figure>
                    <figure class="customer-logo customer-logo-metersbonwe">
                        <img src="__IMG__/picture/logo-metersbonwe.png" class="logo" alt="美特斯邦威">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="pricing-section pricing-section__contact">
    <div class="row align-center">
        <div class="column medium-11">
            <p class="content">
                <span>如有疑问或定制化需求</span> <a class="button" href="contact#customized">与  商业团队联系<span
                    class="icon-chevron-right"></span></a>
            </p>
        </div>
    </div>
</section>
{include file="outer"/}
{include file="footer"/}