
{include file="header"/}
<section class="scenes-header">

    <!-- PC -->
    <div class="row align-center hide-for-small-only">
        <div class="large-8 medium-8">
            <div class="row">
                <div class="column scenes-title text-right">
                    <img src="__IMG__/picture/gif.gif" height="223" width="232"/>
                    <h1>扫码支付</h1>
                </div>
                <div class="column">
                    <p>
                        <strong>商家/用户通过扫码的方式进行快速收款/付款</strong>
                    </p>
                    <div class="scenes-desc">
                        用户通过扫描商家二维码完成支付，或商家通过收银设备扫描用户的付款二维码/条码完成收款
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- M -->
    <div class="row align-center show-for-small-only">
        <div class="small-10 scenes-title text-left">
            <h1>扫码支付</h1>
        </div>
        <div class="small-10 text-left scenes-desc-title">
            <strong>商家/用户通过扫码的方式进行快速收款/付款</strong>
            <div class="scenes-desc">
                用户通过扫描商家二维码完成支付，或商家通过收银设备扫描用户的付款二维码/条码完成收款
            </div>
        </div>
    </div>
</section>


<section class="row align-center scenes-list">
    <div class="large-7 small-11 medium-8">
        <div class="row large-up-3 small-up-1 scenes-list-box">
            <div class="column">
                <p class="qr-code-scenes-box-title">用户主扫</p>
                <div class="row align-center qr-code-scenes-box">
                    <div class="large-6 small-6 medium-6 text-center scenes-qr-box"  url="alipayscan">
                        <div>
                            <img src="__SVG__/alipay.svg" alt="">
                        </div>
                        <p class="scenes-box-desc text-center">
                            支付宝

                            </br>
                            当面付
                        </p>
                    </div>
                    <div class="large-6 small-6 medium-6 text-center scenes-qr-box"  url="wechatpayscan">
                        <div>
                            <img src="__SVG__/wechat.svg" alt="">
                        </div>
                        <p class="scenes-box-desc text-center">
                            微信

                            </br>
                            扫码支付
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <p class="qr-code-scenes-box-title">用户被扫</p>
                <div class="row align-center qr-code-scenes-box">
                    <div class="large-6 small-6 medium-6 text-center scenes-qr-box"  url="alipaybarcode">
                        <div url="">
                            <img src="__SVG__/alipay.svg" alt="">
                        </div>
                        <p class="scenes-box-desc text-center">
                            支付宝

                            </br>
                            条码支付
                        </p>
                    </div>
                    <div class="large-6 small-6 medium-6 text-center scenes-qr-box"  url="wechatpaybarcode">
                        <div url="">
                            <img src="__SVG__/wechat.svg" alt="">
                        </div>
                        <p class="scenes-box-desc text-center">
                            微信

                            </br>
                            刷卡支付
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <p class="qr-code-scenes-box-title">固定码</p>
                <div class="row align-center qr-code-scenes-box">
                            <span>
                                商户可拥有一个固定二维码，用户使用支付宝或者微信扫描后会进入 Wap 收银页面，手动输入金额完成支付。具体请联系
                                <a href="">客服</a>

                            </span>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="faq"/}
{include file="outer"/}
{include file="footer"/}