
{include file="header"/}
<section class="scenes-header">

    <!-- PC -->
    <div class="row align-center hide-for-small-only">
        <div class="large-8 medium-8">
            <div class="row">
                <div class="column scenes-title text-right">
                    <img src="__SVG__/gif.gif" height="223" width="232"/>
                    <h1>手机网页支付</h1>
                </div>
                <div class="column">
                    <p>
                        <strong>在手机网页内，快速接入多种支付渠道</strong>
                    </p>
                    <div class="scenes-desc">
                        一套 API 在手机网页中集成多种支付方式，用户在手机浏览器中打开网页即可完成下单购买的流程。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- M -->
    <div class="row align-center show-for-small-only">
        <div class="small-10 scenes-title text-left">
            <h1>手机网页支付</h1>
        </div>
        <div class="small-10 text-left scenes-desc-title">
            <strong>在手机网页内，快速接入多种支付渠道</strong>
            <div class="scenes-desc">
                一套 API 在手机网页中集成多种支付方式，用户在手机浏览器中打开网页即可完成下单购买的流程。
            </div>
        </div>
    </div>
</section>


<section class="row align-center scenes-list">
    <div class="large-7 small-11 medium-8">
        <div class="row large-up-6 small-up-3 scenes-list-box">
            <div class="column">
                <div class="scenes-box text-center" url="alipaymobileweb">
                    <img src="__SVG__/alipay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    支付宝
                    <br>
                    手机网站支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="wechatpayh5">
                    <img src="__SVG__/wechat.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    微信
                    <br>
                    H5 支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="unionpaymobileweb">
                    <img src="__SVG__/unionpay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    银联
                    <br>
                    手机网页支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="cmbcpay">
                    <img src="__SVG__/cmbchina.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    招行一网通
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="baidumobweb">
                    <img src="__SVG__/baidu.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    百度钱包
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="jdpay">
                    <img src="__SVG__/jdpay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    京东支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="jdbaitiao">
                    <img src="__SVG__/jdbaitiao.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    京东白条
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="alipayhuabei">
                    <img src="__SVG__/huabei.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    花呗分期
                </p>
            </div>

        </div>
    </div>
</section>
{include file="faq"/}
{include file="outer"/}
{include file="footer"/}