
{include file="header"/}
<section class="scenes-header">

    <!-- PC -->
    <div class="row align-center hide-for-small-only">
        <div class="large-8 medium-8">
            <div class="row">
                <div class="column scenes-title text-right">
                    <img src="__IMG__/picture/gif.gif" height="223" width="232"/>
                    <h1>PC 网页支付</h1>
                </div>
                <div class="column">
                    <p>
                        <strong>在 PC 网页内快速接入多种支付渠道</strong>
                    </p>
                    <div class="scenes-desc">
                        为 PC 网页提供全套支付解决方案，接入后即可使用支付宝、微信、银联等支付方式完成 PC 网页的交易。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- M -->
    <div class="row align-center show-for-small-only">
        <div class="small-10 scenes-title text-left">
            <h1>PC 网页支付</h1>
        </div>
        <div class="small-10 text-left scenes-desc-title">
            <strong>在 PC 网页内快速接入多种支付渠道</strong>
            <div class="scenes-desc">
                为 PC 网页提供全套支付解决方案，接入后即可使用支付宝、微信、银联等支付方式完成 PC 网页的交易。
            </div>
        </div>
    </div>
</section>


<section class="row align-center scenes-list">
    <div class="large-7 small-11 medium-8">
        <div class="row large-up-6 small-up-3 scenes-list-box">
            <div class="column">
                <div class="scenes-box text-center" url="alipaypcweb">
                    <img src="__SVG__/alipay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    支付宝
                    <br>
                    电脑网站支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="unionpaygateway">
                    <img src="__SVG__/unionpay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    银联
                    <br>
                    网关支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="unionpayentolbanking">
                    <img src="__SVG__/unionpay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    银联
                    <br>
                    企业网银支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="jdpay">
                    <img src="__SVG__/jdpay.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    京东支付
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="jdbaitiao">
                    <img src="__SVG__/jdbaitiao.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    京东白条
                </p>
            </div>
            <div class="column">
                <div class="scenes-box text-center" url="alipayhuabei">
                    <img src="__SVG__/huabei.svg" alt="">
                </div>
                <p class="scenes-box-desc text-center">
                    花呗分期
                </p>
            </div>

        </div>
    </div>
</section>
{include file="faq"/}
{include file="outer"/}
{include file="footer"/}