{include file="header"/}
<section class="hero hero--no-content">
</section>

<nav class="docs-nav">
    <div class="row-d">
        <div class="medium-3 small-12 columns">
            <a class="active" href="#">概述和基础</a>
        </div>
    </div>
</nav>
<div id="content" class="docs-content-container">
    <div class="row-d">
        <div class="small-12 medium-3 columns side-bar">
            <a href="#" class="docs-article-select-toggle show-for-small-only">查看文章列表</a>
            <ul class="menu vertical docs-article-select">
                <li class="subcategory is-index">
                    <a class="subcategory is-index" href="#docs-inner-read">引言</a>
                </li>
                <li class="subcategory is-index">
                    <a class="subcategory is-index" href="#docs-inner-yewu">业务概述</a>
                </li>
                <li class="subcategory is-index">
                    <a class="subcategory is-index" href="#docs-inner-data">数据通讯</a>
                </li>
                <li class="subcategory is-index">
                    <a class=" subcategory is-index" href="#docs-inner-pay">发起支付</a>
                </li>
                <li class="subcategory is-index">
                    <a class="subcategory is-index" href="#docs-inner-fulu">接口附录</a>
                </li>
            </ul>
        </div>
        <div class="small-12 medium-9 columns docs-content">
            <div id="docs-inner-read">
                <div class="row-d docs-head">
                    <div class="columns shrink"><h2>一、引言</h2></div>
                </div>
                <h3>1.1 文档用途</h3>
                <p>本文档旨在对现在支付的聚合支付服务端接口服务提供一份详细的规范定义说明。以方便聚合支付平台商户开发者能更方便地接入现在支付的聚合支付服务。</p>

                <p> 是为移动端应用以及 PC 网页量身打造的下一代支付系统，通过一个 SDK 便可以同时支持移动端以及 PC 端网页的多种主流支付渠道，你只需要一次接入即可完成多个渠道的接入。
                    支付 SDK 适配了 HTML5移动端平台以及 PC 端网页。</p>
                <h3>1.2 接入支付 SDK 步骤</h3>
                <ul>
                    <li>第一步：申请<a href="/register">注册商户</a>，获取商户ID、AccessKey</li>
                    <li>第二步：下载使用 <a href="/support/downloads"> 开发SDK </a>；</li>
                    <li>第四步：开发工具构建支付请求拉取支付数据；</li>
                    <li>第五步：用户完成支付，服务端POST推送支付成功报文；</li>
                    <li>第六步：异步通知回调，通过查询接口获取交易结果。</li>
                </ul>
            </div>
            <div id="docs-inner-yewu">
                <div class="row-d docs-head">
                    <div class="columns shrink"><h2>二、业务概述</h2></div>
                </div>
                <h3>2.1 服务端支付结果异步通知</h3>
                <div class="doc-content-container">
                    <p>商户支付订单结果通知包括两部分的通知，即前台客户端实时同步交易结果应答和后台服务器端异步通知。前台实时同步应答即是当消费者支付完成后实时得到的UI层面的提示，后台服务器端异步通知是现在支付在实际资金流处理完成后给商户的服务器通过HTTPS协议异步发起的支付最终结果通知。考虑到实际完成支付流程的支付交易失败率比较低，且考虑到避免造成商户服务器端的压力，现只对支付成功的交易通知给聚合支付平台商户，使聚合支付平台商户能及时得到成功交易的交易状态。其它未通知的交易，聚合支付平台商户可以通过交易查询接口主动发起查询或者通过聚合支付平台商户管理后台去查看自己相关的交易订单的实时状态信息。</p>
                    <p class="doc-sub-title">商户支付订单的通知流程如下：</p>
                    <div class="doc-common-frame col-md-9 col-sm-12 col-xs-12">
                        <img src="__IMG__/doc/doc_001.png" class="img-width viewer-toggle">
                    </div>
                    <h3 class="doc-sub-title clear-both">需要注意的一些问题：</h3>
                    <p>1.在商户推送订单给现在支付后，商户APP端实时收到的应答为支付订单受理结果，并非最终支付完成结果，最终结果以服务器端异步通知为准。</p>
                    <p>2.服务器端异步通知采用HTTPS协议进行通讯。现在支付通知商户的URL以商户支付订单推送时所填写的<span class="font-weight">商户通知URL</span>为准。</p>
                    <p>3.现规定，现在支付<span class="font-weight">只对支付最终成功的订单进行通知</span>商户，对支付失败或者其它状态的支付订单不进行异步通知。商户收到成功订单通知后进行自己的业务处理，然后实时同步应答字符串“<span class="font-weight">success=Y</span>”给现在支付。</p>
                    <p>4.如果商户在接收到现在支付异步通知后没有同步应答字符串“<span class="font-weight">success=Y</span>”给现在支付服务端，那么现在支付服务端就认为此次通知商户失败，那么现在支付将重复发起对商户的通知。</p>
                    <p><span class="font-weight">5.重复通知机制：</span>现在支付服务端在第一次通知失败后，将在2分钟后发起第二次通知，如果还是失败将再隔10分钟发起第三次通知，以后如果还是不成功，将再间隔30分钟、60分钟、2个小时、6个小时、10个小时、15个小时后重复通知。最终在25小时内完成8次重复通知后，将不再继续重复通知。当然，在每一次通知后，如果收到“<span class="font-weight">success=Y</span>”的应答就停止重复通知。重复通知时间间隔如下：  2分钟、10分钟、30分钟、1小时、2小时、6小时、10小时、15小时。</p>
                </div>
                <h3 class="doc-content-title">2.2 商户支付订单信息查询</h3>
                <div class="doc-content-container">
                    <p>商户支付订单信息查询是指商户通过主动发起对现在支付的聚合支付服务端的HTTPS协议请求来获取商户支付订单基本信息和订单费率、费用及订单支付状态。</p>
                </div>
            </div>
            <div id="docs-inner-data">
                <div class="row-d docs-head">
                    <div class="columns shrink"><h2>三、数据通讯方案</h2></div>
                </div>
                <div class="doc-common-content message_communication">
                    <h3 class="doc-content-title">3.1 报文通讯模式</h3>
                    <div class="doc-content-container">
                        <p>采用HTTPS协议进行交互。数据交互方式包含：后台调用方式。SDK与聚合支付平台服务后台系统之间进行交互时，需要通过POST方式提交报文信息，请求参数为<span class="font-weight">标准表单参数串形式</span>。</p>
                    </div>
                </div>
                <div class="doc-common-content message_definition">
                    <h3 class="doc-content-title">3.2 报文定义</h3>
                    <div class="doc-content-container">
                        <p class="doc-sub-title">报文的统一格式如下：</p>
                        <p>最终请求和响应报文内容采用表单字符串样式，扁平式，无二级结构。且每个字段的值都经过URLEncodeer编码过，编码字符集根据请求报文中指定的字符集为准。</p>
                        <p>样例如下：</p>
                        <div class="doc-common-frame doc-text-frame">
                            <p class="margin-bottom-none"></p>
                        </div>
                    </div>
                </div>
                <div class="doc-common-content message_dataType">
                    <h3 class="doc-content-title">3.3 报文数据类型定义</h3>
                    <div class="doc-content-container">
                        <p><span class="font-weight">String(m,n)：</span>代表可变长度型字符串类型。长度从m到n可变。</p>
                        <p><span class="font-weight">String(m)：</span>代表固定长度型字符串类型。m为整型数值</p>
                        <p><span class="font-weight">Number(m,n)：</span>代表带精度数值类型。m代表数值位数长度为1~m，n代表小数点后位数。</p>
                        <p><span class="font-weight">Number(m)：</span>代表整型数值类型。m代表数值位数长度为1~m。</p>
                        <p class="font-size-12 text-red">PS:m、n都为整型数值</p>
                    </div>
                </div>
            </div>
            <div id="docs-inner-pay">
                <div class="row-d docs-head">
                    <div class="columns shrink"><h2>四、支付</h2></div>
                </div>

                <p>接入SDK发起支付，具体步骤如下：</p>
                <ol>
                    <li>设置 API-Key</li>
                    <li>SDK 验证签名设置</li>
                    <li>从服务端发起创建请求，获取 支付对象</li>
                    <li>将获得的 支付对象 传给 Service</li>
                    <li>接收 异步 通知</li>
                    <li>验证 数据 签名</li>
                </ol>
                <div class="doc-content-container order_MQ001">
                    <h3 class="doc-content-title">4.1 发起支付</h3>
                    <p>接口接入APIURL：https://openapi.98imo.com/gateway.do 请求类型：POST </p>
                    <p class="doc-sub-title">请求由商户页面发起：</p>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>字段名称</th>
                            <th>字段Key</th>
                            <th>格式</th>
                            <th>必填</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>商户ID</td>
                            <td>mch_id</td>
                            <td>String(1,32)</td>
                            <td>是</td>
                            <td>100000</td>
                        </tr>
                        <tr>
                            <td>商户应用ID</td>
                            <td>appid</td>
                            <td>String(1,32)</td>
                            <td>是</td>
                            <td>mo100000</td>
                        </tr>
                        <tr>
                            <td>商户订单号</td>
                            <td>out_trade_no</td>
                            <td>String(1,40)</td>
                            <td>是</td>
                            <td>2018126500000123600531</td>
                        </tr>
                        <tr>
                            <td>商户商品名称</td>
                            <td>subject</td>
                            <td>String(1,40)</td>
                            <td>是</td>
                            <td>购买VIP会员</td>
                        </tr>
                        <tr>
                            <td>商户交易类型</td>
                            <td>trade_type</td>
                            <td>String(1,40)</td>
                            <td>是</td>
                            <td>ALIPAY:支付宝,QQPAY:QQ钱包,WXPAY:微信支付</td>
                        </tr>
                        <tr>
                            <td>商户订单交易金额</td>
                            <td>total_fee</td>
                            <td>String(22)</td>
                            <td>是</td>
                            <td>单位(人民币)：元<br> 整数，无小数点</td>
                        </tr>
                        <tr>
                            <td>商户后台通知URL</td>
                            <td>notify_url</td>
                            <td>String(1,200)</td>
                            <td>是</td>
                            <td>HTTPS协议，POST方式提交报文</td>
                        </tr>

                        <tr>
                            <td>商户回调URL</td>
                            <td>return_url</td>
                            <td>String(1,200)</td>
                            <td>是</td>
                            <td>HTTPS协议，   GET方式提交报文</td>
                        </tr>
                        <tr>
                            <td>商户签名方法</td>
                            <td>SignType</td>
                            <td>String(3)</td>
                            <td>是</td>
                            <td>定值:  MD5</td>
                        </tr>
                        <tr>
                            <td>商户数据签名</td>
                            <td>sign</td>
                            <td>String(32)</td>
                            <td>是</td>
                            <td>除sign字段外，其它字段都参与MD5签名。</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="doc-sub-title">4.2 支付交易同步返回:</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>字段名称</th>
                            <th>字段Key</th>
                            <th>格式</th>
                            <th>必填</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>响应码</td>
                            <td>return_code</td>
                            <td>String(11)</td>
                            <td>是</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>消息码</td>
                            <td>return_msg</td>
                            <td>String(10)</td>
                            <td>是</td>
                            <td><a class="doc-link skip_link jump_trade_response" href="javascript:void(0);">见附录6.2响应码表</a></td>
                        </tr>
                        <tr>
                            <td>商户订单号</td>
                            <td>out_trade_no</td>
                            <td>String(1,40)</td>
                            <td>是</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>商品金额</td>
                            <td>total_fee</td>
                            <td>String(3)</td>
                            <td>是</td>
                            <td>定值：MD5</td>
                        </tr>
                        <tr>
                            <td>支付方式</td>
                            <td>trade_type</td>
                            <td>String(3)</td>
                            <td>是</td>
                            <td>ALIPAY:支付宝,QQPAY:QQ钱包,WXPAY:微信支付</td>
                        </tr>
                        <tr>
                            <td>签名串</td>
                            <td>sign</td>
                            <td>String(32)</td>
                            <td>是</td>
                            <td>除signature字段外，其它字段都参与MD5签名。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="doc-common-content order_MQ002">
                    <h3 class="doc-content-title">4.3 支付订单查询</h3>
                    <div class="doc-content-container">
                        <p>接口APIURL：https://openapi.98imo.com/query.do  请求类型：POST  </p>
                        <p class="doc-sub-title">由商户发起：</p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>字段名称</th>
                                <th>字段Key</th>
                                <th>格式</th>
                                <th>必填</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>商户ID</td>
                                <td>mch_id</td>
                                <td>String(1,32)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>商户应用唯一标识</td>
                                <td>appid</td>
                                <td>String(1,32)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>商户订单号</td>
                                <td>out_trade_no</td>
                                <td>String(1,40)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>数据签名</td>
                                <td>sign</td>
                                <td>String(32)</td>
                                <td>是</td>
                                <td>sign，其它字段都参与MD5签名</td>
                            </tr>
                            </tbody>
                        </table>

                        <p class="doc-sub-title">同步返回:</p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>字段名称</th>
                                <th>字段Key</th>
                                <th>格式</th>
                                <th>必填</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>响应码</td>
                                <td>return_code</td>
                                <td>String(11)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>消息码</td>
                                <td>return_msg</td>
                                <td>String(10)</td>
                                <td>是</td>
                                <td><a class="doc-link skip_link jump_trade_response" href="javascript:void(0);">见附录6.2响应码表</a></td>
                            </tr>
                            <tr>
                                <td>商户订单号</td>
                                <td>out_trade_no</td>
                                <td>String(1,40)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>订单支付状态</td>
                                <td>status</td>
                                <td>String(1,40)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>商品金额</td>
                                <td>total_fee</td>
                                <td>String(3)</td>
                                <td>是</td>
                                <td>定值：MD5</td>
                            </tr>
                            <tr>
                                <td>支付方式</td>
                                <td>trade_type</td>
                                <td>String(3)</td>
                                <td>是</td>
                                <td>ALIPAY:支付宝,QQPAY:QQ钱包,WXPAY:微信支付</td>
                            </tr>
                            <tr>
                                <td>签名串</td>
                                <td>sign</td>
                                <td>String(32)</td>
                                <td>是</td>
                                <td>除signature字段外，其它字段都参与MD5签名。</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="doc-common-content server_N001">
                    <h3 class="doc-content-title">4.4 支付结果通知</h3>
                    <div class="doc-content-container">
                        <p class="doc-sub-title">现在支付的聚合支付服务端异步发起：         通讯方式：HTTPS POST</p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>字段名称</th>
                                <th>字段Key</th>
                                <th>格式</th>
                                <th>必填</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>响应码</td>
                                <td>return_code</td>
                                <td>String(11)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>消息码</td>
                                <td>return_msg</td>
                                <td>String(10)</td>
                                <td>是</td>
                                <td><a class="doc-link skip_link jump_trade_response" href="javascript:void(0);">见附录6.2响应码表</a></td>
                            </tr>
                            <tr>
                                <td>商户订单号</td>
                                <td>out_trade_no</td>
                                <td>String(1,40)</td>
                                <td>是</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>商品金额</td>
                                <td>total_fee</td>
                                <td>String(3)</td>
                                <td>是</td>
                                <td>定值：MD5</td>
                            </tr>
                            <tr>
                                <td>支付方式</td>
                                <td>trade_type</td>
                                <td>String(3)</td>
                                <td>是</td>
                                <td>ALIPAY:支付宝,QQPAY:QQ钱包,WXPAY:微信支付</td>
                            </tr>
                            <tr>
                                <td>签名串</td>
                                <td>sign</td>
                                <td>String(32)</td>
                                <td>是</td>
                                <td>除signature字段外，其它字段都参与MD5签名。</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="doc-sub-title"> 商户同步返回:</p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>字段名称</th>
                                <th>字段Key</th>
                                <th>格式</th>
                                <th>必填</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>是否成功</td>
                                <td>success</td>
                                <td>Char(1)</td>
                                <td>是</td>
                                <td>Y通知成功<br>
                                    N通知失败(现在支付未收到success=Y,后端将按规则默认重发通知)</td>
                            </tr>
                            </tbody>
                        </table>
                        <h3 class="doc-sub-title">4.5 服务端通知接口接入注意事项：</h3>
                        <p></p><p>1.通知方式采用HTTPS POST方式通知；</p>
                        <p>2.报文数据以字符串流的形式放在报文体中，所以直接getParameter是得不到数据的。</p>

                    </div>
                </div>
            </div>
            <div id="docs-inner-fulu">
                <div class="row-d docs-head">
                    <div class="columns shrink"><h2>五、接口附录</h2></div>
                </div>
                <div class="doc-common-content MD5_autograph">
                    <h3 class="doc-content-title">5.1 交易的MD5签名逻辑</h3>
                    <div class="doc-content-container">
                        <p class="doc-sub-title">签名步骤如下：</p>
                        <p><span class="font-weight">第一步：</span>对参与MD5签名的字段按字典升序排序后，分别取值后并排除值为空的字段键值对，最后组成key1=value1&amp;key2=value2....keyn=valuen"<span class="font-weight">表单字符串</span>"。</p>
                        <p><span class="font-weight">第二步：</span>对MD5密钥进行加密得到"<span class="font-weight">密钥MD5值</span>"。</p>
                        <p><span class="font-weight">第三步：</span> 最后对<span class="font-weight">第一步中得到的表单字符串</span>&amp;<span class="font-weight">第二步得到的密钥MD5值</span>做MD5签名</p>
                        <p class="text-red font-size-12">PS:MD5密钥是用户在注册应用的时候生成的，每个应用一个MD5密钥。</p>
                    </div>
                </div>
                <div class="doc-common-content trade_response">
                    <h3 class="doc-content-title">5.2 交易响应码(return_code)表</h3>
                    <div class="doc-content-container">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>响应码</th>
                                <th>含义</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>SUCCESS</td>
                                <td>成功</td>
                            </tr>
                            <tr>
                                <td>FAIL</td>
                                <td>失败</td>
                            </tr>
                            <tr>
                                <td>UNKNOWN</td>
                                <td>未知</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="doc-common-content trade_payType">
                    <h3 class="doc-content-title">5.3 交易订单支付状态表</h3>
                    <div class="doc-content-container">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>状态码</th>
                                <th>含义</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>订单未处理</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>订单支付成功</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>订单支付失败</td>
                            </tr>
                            <tr>
                                <td>-1</td>
                                <td>交易关闭</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="doc-common-content channel_type">
                    <h3 class="doc-content-title">5.4 支付渠道表</h3>
                    <div class="doc-content-container">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>类型码</th>
                                <th>含义</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>WXPAY</td>
                                <td>微信</td>
                            </tr>
                            <tr>
                                <td>ALIPAY</td>
                                <td>支付宝</td>
                            </tr>
                            <tr>
                                <td>QQPAY</td>
                                <td>手机QQ</td>
                            </tr>
                            <tr>
                                <td>EPAY</td>
                                <td>银联</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="doc-common-content name_term">
                <h2 class="doc-content-title">名称术语</h2>
                <div class="doc-content-container">
                    <p><span class="doc-sub-title">聚合支付：</span>现在支付提供给客户的快速接入银联、支付宝、微信等支付渠道的服务。</p>
                    <p><span class="doc-sub-title">聚合支付服务端接口：</span>聚合支付的接入方式包括前端接入和服务器端接入。像商户支付结果服务器端通知、商户支付订单查询、网银支付等都是要走服务器端接口。</p>
                    <p><span class="doc-sub-title">无插件聚合支付接口：</span>针对基于PC浏览器或者手机平板WAP网页上的商户应用的支付接口服务。手机或者平板插件接入式APP是不需要的。</p>
                    <p><span class="doc-sub-title">聚合支付平台商户：</span>与现在支付合作，计划接入现在支付聚合支付接口服务的商家。</p>
                    <p><span class="doc-sub-title">支付结果通知：</span>当消费者在商户的APP中支付完成后会收到实时的反馈结果，比如成功或者失败。但是真正的资金流的结果是在后台进行通知的，现在支付服务后台通过Https协议通知到商户后台。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="support::foot"/}
{include file="footer"/}