{include file="header"/}
<section class="hero hero-docs hero-downloads">
    <div class="row align-center">
        <div class="medium-9">
            <div class="">
                <div class="row align-middle align-center">
                    <div class="">
                        <!-- <h1 data-t="downloads.hero.heading">资源下载</h1> -->
                        <div class="row downloads-content">
                            <div class="shrink columns">
                                <h3>Server SDK</h3>
                                <ul class="downloads-list">
                                    <li>
                                        <a rel="nofollow" href="" target="_blank">
                                            <span>PHP</span>
                                            <small>查看更新日志</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="" target="_blank">
                                            <span>更多精彩...</span>
                                            <small>稍后继续</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="" target="_blank">
                                            <span>更多精彩...</span>
                                            <small>稍后继续</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="" target="_blank">
                                            <span>更多精彩...</span>
                                            <small>稍后继续</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-bg hero-bg--cube">
        <div class="cube nofill bottom-right">
            <div class="inner">
                <div class="side side--1"></div>
                <div class="side side--2"></div>
            </div>
        </div>
    </div>
</section>
{include file="support::foot"/}
{include file="footer"/}