	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate edit_from" novalidate="novalidate">

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-1" class="control-label">员工编号</label>
				<input type="hidden" name="id" value="{$info.id}">
				<input type="hidden" name="sn" value="{$info.sn}">
				<input type="text" class="form-control" name="sn" placeholder="员工编号" value="{$info.sn}" disabled="disabled">
			</div>	
		</div>
		
		<div class="col-md-6">
			
			<div class="form-group">
				<label class="control-label">员工姓名</label>
				<input type="text" class="form-control" name="truename" placeholder="员工姓名" value="{$info.truename}">
			</div>	
		
		</div>
	</div>

    <div class="row">   
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">角色</label>
                <select class="form-control" name="role">
                        <option value="0" >默认</option>
                        {volist name='role' id='vo'}
                        <option value="{$vo.id}" {eq name="info.role" value="$vo.id"} selected="selected" {/eq}>{$vo.name}</option>
                        {/volist}
                </select>  
            </div>
        </div>        
    </div>

    <div class="row">
<!-- 		<div class="col-md-6">
			<div class="form-group">
                <label class="control-label">登录账户</label>
                <input type="text" class="form-control" name="username" placeholder="登录账户" value="{$info.username}">
			</div>
		</div> -->

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">登录密码</label>
                <input type="password" class="form-control" name="password" placeholder="留空则不更改密码">
            </div>
        </div>        
    </div>

    <div class="row">   
		<div class="col-md-6">
			<div class="form-group">
                <label class="control-label">员工状态</label>
                <select class="form-control" name="status">
                    <option value="0" {eq name="info.status" value="0"} selected="selected" {/eq} >禁用</option>
                    <option value="1" {eq name="info.status" value="1"} selected="selected" {/eq} >启用</option>
                </select>
			</div>
		</div>
    </div>


	
</form>